
numpy
pandas

# nltk
# textblob
# vaderSentiment
# gensim
# sklearn
# xgboost
# lightgbm
# tensorflow
# tqdm
plotly

fbprophet

# statsmodels
pandas_datareader
yfinance

# transformers
# anvil-uplink
